:root {
  --font-family: 'Plus Jakarta Sans', sans-serif;
  --font-size: 16px;
  --font-weight-500: 500;
  --font-weight-700: 700;

  --c-accent: hsl(61, 70%, 52%);
  --c-error: hsl(4, 69%, 50%);

  --c-primary: hsl(0, 0%, 100%);
  --c-primary-100: hsl(202, 86%, 94%);
  --c-primary-300: hsl(203, 41%, 72%);
  --c-primary-500: hsl(200, 26%, 54%);
  --c-primary-700: hsl(200, 24%, 40%);
  --c-primary-900: hsl(202, 55%, 16%);

  --border-radius: 8px;
  --border-radius-items: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--c-primary-100);
}
